spring:
  datasource:
    url: jdbc:mariadb://localhost:3307/ecomdb
    username: root
    password:
    driver-class-name: org.mariadb.jdbc.Driver

  jpa:
    database-platform: org.hibernate.dialect.MariaDBDialect
    hibernate:
      ddl-auto: none

  security:
    oauth2:
      resource-server:
        jwt:
          issuer-uri: https://dev-o1mp3wrvrztjwgy4.us.auth0.com/
logging:
  level:
    org.springframework.security: DEBUG